

{% extends "admin/base.html" %}
{% load static %}
{% block content %} 

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

<div class="site-blocks-cover inner-page" style="background-image: url({% static 'images/hero_bg_1.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7">
          {% comment %} <span class="sub-text">Get In Touch</span> {% endcomment %}
          <h1><strong>Appointment Booking</strong> </h1>
        </div>
      </div>
    </div>
  </div>  

<div class="page-section">
    <div class="container">
      <h1 class="text-center mb-5 wow fadeInUp">Appointment Booking</h1>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      <table  class="table table-bordered table-striped table-hover" style="background-color: #002633;width: 1000px;">
                                 <th class="success" style="color: white;">Patient Name</th>
                                 <th class="success" style="color: white;">Date of Birth</th>
                                 <th class="success" style="color: white;">Booking Date</th>
                                 <th class="success" style="color: white;">Token number</th>

                                 <th class="success" style="color: white;">Payment</th>

                                   <th class="success" style="color: white;">Doctor Name</th>
                                   <th class="success" style="color: white;">Status</th>

              {% for i in book %}
                                <tr style="background-color:white;width: 700px;">
                                    <td>{{ i.user.user.first_name}}</td>
                                    <td>{{ i.user.dob}}</td>
                                    <td>{{ i.generated_at}}</td>
                                    <td>{{ i.number}}</td>
                                    <td>{{ i.payment }}</td>

                                    <td>{{ i.doctor.user.first_name }}</td>
                                    {% if i.status == 'added' %}

                                    <td><button style="background-color:lightslategray"><a href="{% url 'book_approve' i.id %}" class=" btn btn-success" style="color:black">Approve</a></button>
                                    <button style="background-color:lightslategray"><a href="{% url 'book_reject' i.id %}" class=" btn btn-danger" style="color:black">Reject</a></button></td>
                                    {% else %}
                                    <td>{{ i.status }}</td>
                                    {% endif %}

                                </tr>
              {% endfor %}



                            </table>
    </div>
  </div>


  
  {% endblock %}