

{% extends "user/base.html" %}
{% load static %}
{% block content %} 

{% if message %}
<script>
alert("{{ message }}")
</script>
{% endif %}

<div class="site-blocks-cover inner-page" style="background-image: url({% static 'images/hero_bg_1.jpg' %});" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-7">
          {% comment %} <span class="sub-text">Get In Touch</span> {% endcomment %}
          <h1><strong>Appointment Booking</strong> </h1>
        </div>
      </div>
    </div>
  </div>  

<div class="page-section">
    <div class="container">
      <h1 class="text-center mb-5 wow fadeInUp">Appointment Booking</h1>
      {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}
      <table  class="table table-bordered table-striped table-hover" style="background-color: #002633;width: 1000px;">
                          
                                 <th class="success" style="color: white;">Booking Date</th>
                                 <th class="success" style="color: white;">Token number</th>
                                 <th class="success" style="color: white;">Doctor Name</th>

                                 <th class="success" style="color: white;">Status </th>

                                   <th class="success" style="color: white;">Action</th>

              {% for i in boo %}
                                <tr style="background-color:white;width: 700px;">
                                    <td>{{ i.generated_at}}</td>
                                    <td>{{ i.number}}</td>
                                    <td>{{ i.doctor.user.first_name }}</td>

                                    <td>{{ i.status }}</td>
                                    {% if i.status == 'approve' %}
                                    <td><button style="background-color:lightslategray"><a href="{% url 'paymentview' i.id %}" class=" btn btn-success" style="color:black">Pay</a></button></td>
                                    {% elif i.status == 'paid' %}
                                    <td><button style="background-color:lightslategray"><a href="{% url 'pdf_receipt' i.id %}" class=" btn btn-success" style="color:black">Receipt</a></button></td>
                                    {% elif i.status == 'added' %}
                                    <td><button style="background-color:lightslategray"><p class=" btn btn-success" style="color:black">Pending</p></button></td>
                                    {% elif i.status == 'reject' %}
                                    <td><button style="background-color:lightslategray"><p class=" btn btn-success" style="color:black">Cancelled</p></button></td>
                                    
                                    {% elif i.status == 'pre_added' %}
                                    <td><button style="background-color:lightslategray"><p class=" btn btn-success" style="color:black">Prescription Added</p></button></td>

                                    {% endif %}






                                </tr>
              {% endfor %}



                            </table>
    </div>
  </div>


  
  {% endblock %}